### Matala 3

## Part A

In [1]:
# function to convert miles to km
def convert_distance(distance):
    miles1 = distance.replace("mi", "")  # remove 'mi' from string
    miles2 = miles1.replace(',', '')  # remove the comma
    miles3 = float(miles2)  # convert to float
    distance_km = miles3 * 1.6  # approximately 1.6 km in 1 mile
    return distance_km

In [2]:
import pandas as pd
import requests
api_key = 'put your api key' #running the program and deleted mi api key ,as said in cless
start_address="Tel Aviv"
Target=[]
Distance_km=[]
Duration=[]
dests=open("dests.txt","r")
destination=" "
for d in dests:
    destination=d
    url="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&"
    r=requests.get(url + "origins=" + start_address + "&destinations=" + destination + "&key=" + api_key)
    duration= r.json()["rows"][0]["elements"][0]["duration"]["text"]
    distance_miles=r.json()["rows"][0]["elements"][0]["distance"]["text"]
    Target.append(d)
    Duration.append(duration)
    Distance_km.append(convert_distance(distance_miles))

In [3]:
df = pd.DataFrame({'Target': Target, 'Distance_km': Distance_km, 'Duration (hour+minutes)':Duration })
df

        Target  Distance_km Duration (hour+minutes)
0   Istanbul\n       1804.8         21 hours 3 mins
1  Amsterdam\n       4505.6          2 days 0 hours
2   Valletta\n       3771.2          2 days 3 hours
3      Basel\n       4070.4          1 day 20 hours
4         Doha       2152.0        22 hours 39 mins

## Part B

In [4]:
def get_lat_lng(address_string):
    import requests
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address_string,api_key)
    response = requests.get(url)
    response_data = response.json()
    return(response_data['results'][0]['geometry']['location'])

In [5]:
Longitude=[]
latitude=[]
dests=open("dests.txt","r")
for d in dests:
    Longitude.append(get_lat_lng(d)['lng'])
    latitude.append(get_lat_lng(d)['lat'])

In [6]:
df["Longitude"]=Longitude
df["latitude"]=latitude
df

        Target  Distance_km Duration (hour+minutes)  Longitude   latitude
0   Istanbul\n       1804.8         21 hours 3 mins  28.978359  41.008238
1  Amsterdam\n       4505.6          2 days 0 hours   4.904139  52.367573
2   Valletta\n       3771.2          2 days 3 hours  14.514100  35.899237
3      Basel\n       4070.4          1 day 20 hours   7.588576  47.559599
4         Doha       2152.0        22 hours 39 mins  51.531040  25.285447

### 3 cities furthest from Tel Aviv

In [7]:
df_sorted = df.sort_values(['Distance_km'], ascending=False)
df_sorted.head(3)

        Target  Distance_km Duration (hour+minutes)  Longitude   latitude
1  Amsterdam\n       4505.6          2 days 0 hours   4.904139  52.367573
3      Basel\n       4070.4          1 day 20 hours   7.588576  47.559599
2   Valletta\n       3771.2          2 days 3 hours  14.514100  35.899237

In [8]:
print("The three cities farthest from Tel Aviv are:\n", df_sorted["Target"].head(3))

The three cities farthest from Tel Aviv are:
 1    Amsterdam\n
3        Basel\n
2     Valletta\n
Name: Target, dtype: object